<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ug">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ug_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ug_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"></activity>
        <activity
            android:name=".LicenciaturaActivity"></activity>
        <activity
            android:name=".OfferActivity"></activity>
        <activity
            android:name=".MapsActivity"></activity>
        <activity
            android:name=".InstructionsActivity"></activity>
        <activity
            android:name=".InterestsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AptitudesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainTestActivity"></activity>
        <activity
            android:name=".WelcomeInteresesActivity"></activity>
        <activity
            android:name=".WelcomeAptitudesActivity"></activity>
        <activity
            android:name=".CulturalActivity"></activity>
        <activity
            android:name=".ChestActivity"></activity>
        <activity
            android:name=".MasterActivity"></activity>
        <activity
            android:name=".OfferActivityMaster"></activity>
        <activity
            android:name=".OfferActivityPhd"></activity>
        <activity
            android:name=".PhdActivity"></activity>
    </application>

</manifest>